*, *::before, *::after{
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 5px black solid;
    width: 700px;
    height: 800px;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.grid{
    border: 2px lightblue solid;
}
